<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="100" alt="Angular Logo" src="assets/image/earth.jpg"> <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" [(ngModel)] = "name">
  <p>{{name}}</p>
 
</div>
<div class="container">
  <div class = "row">
    <div class = "col-xs-12">
      <h2>component</h2>
      <app-login></app-login>
      <!--<div app-login></div> we are providing component by attribute-->
      <!--<div class = "app-login"></div> we are providing component by class-->

    </div>
  </div>
<router-outlet></router-outlet>


